body {
    font-family: 'Ubuntu', sans-serif;
}
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }

 #welcome_title {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #000;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 7rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #AFF099,      15px 15px 0px #E8E25B,      20px 20px 0px #EBEBC8,      25px 25px 0px black,      45px 45px 10px #AFF099;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
  
  #welcome_title:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
    font-weight: bolder;
  }