body {
font-family: 'Ubuntu', sans-serif;
}
@font-face {
font-family: "Meta";
  font-weight: normal;
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
  font-style: normal;
}

#welcome_title {
font-family: "Meta", sans-serif;
  cursor: pointer;
  font-size: 7rem;
  text-align: center;
  color: transparent;
  text-shadow: 10px 10px 0px #AFF099,      15px 15px 0px #E8E25B;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-text-stroke: 4px #000;
  font-variation-settings: "wght" 900, "ital" 1;
}

#welcome_title:hover {
font-weight: bolder;
  text-shadow: none;
  font-variation-settings: "wght" 100, "ital" 0;
}